# Custom ignores
theme-test.html

# Node.js dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db

# Build and dist directories
/dist/
/build/
/out/

# Logs
logs
*.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Temp files
.tmp/
.temp/
.cache/

# Deployment files
.vercel
.netlify

# Testing
/coverage/
/cypress/videos/
/cypress/screenshots/ 